body {
    font-family: Arial, sans-serif;
    background-color: #402c50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.eulersili {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-right: 5px solid;
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(21),
    blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

.links {
    display: flex;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace
}

.link {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #402c50;
}
